@import "tailwindcss";

@theme {
  --color-primary: #823D9A;
}

@layer base {
  * {
    font-family: "Montserrat", Arial, sans-serif;
  }
}

@layer components {
  input {
    @apply border border-gray-200 rounded-md outline-none transition focus:border-gray-400;
  }
}
html, body, #root {
  height: 100%;
}

button {
  cursor: pointer;
}

img {
  -webkit-user-select: none;
  user-select: none;
}

.no-scroll {
  overflow: hidden;
}